<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-6">
      <h2><%= post.crumb %></h2>
      <div class="row justify-content-between">
        <form
          class="col-3"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class=" <%if(post.likes.includes(user.id)){ %> btn-liked <%}%>
          btn btn-primary fa fa-heart" type="submit"></button><%= post.likes.length %>
        </form>
        <!-- <h6 class="col-3" id="likes">Likes: <%= post.likes.length %></h6> -->
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <%if(post.image){ %>
    <div class="col-sm-3 mt-5">
      <img class="img-fluid" src="<%= post.image%>" />
    </div>
    <%}%>

    <div class="col-sm-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
